In [1]:
#impoting pandas library
import pandas as pd
# importing numpy library
import numpy as np

In [2]:
#loading the data set
df= pd.read_csv('http://bit.ly/autolib_dataset')
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

In [3]:
#checking the info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [4]:
#checking the shape of the data
df.shape

(5000, 25)

In [5]:
#cecking the missing values from the data
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [6]:
#dropping the columns that are not useful for the analysis
df.drop(['Geo point','Displayed comment'],axis =1,inplace=True)
df.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 23 columns]

In [7]:
#checking the shape again to confirm if the two columns are dropped
df.shape

(5000, 23)

In [11]:
#creating date_time column in our dataset by combining year,month,day,hour
df['date_time'] = df['year'].map(str) +':'+ df['month'].map(str) +':'+ df['day'].map(str) +':'+ df['hour'].map(str) +':'+ df['minute'].map(str)
df.head(3)

                            Address  Cars  ...  minute       date_time
0               2 Avenue de Suffren     0  ...      43  2018:4:8:11:43
1         145 Rue Raymond Losserand     6  ...      24   2018:4:6:7:24
2  2 Avenue John Fitzgerald Kennedy     3  ...      14  2018:4:3:20:14

[3 rows x 24 columns]

In [14]:
#dropping the columns year,month day minutes
df.drop(['year','month','day','minute'], axis = 1,inplace=True)
df.head(3)

                            Address  Cars  ...  hour       date_time
0               2 Avenue de Suffren     0  ...    11  2018:4:8:11:43
1         145 Rue Raymond Losserand     6  ...     7   2018:4:6:7:24
2  2 Avenue John Fitzgerald Kennedy     3  ...    20  2018:4:3:20:14

[3 rows x 20 columns]

In [15]:
#checking the shape to confirm if the columns have been dropped
df.shape

(5000, 20)

In [21]:
#import datetime and change the date_time column format
import datetime as datetime
df['date_time'] = pd.to_datetime(df['date_time'] , format='%Y:%m:%d:%H:%M')
df.head(2)

                     Address  Cars  ...  hour           date_time
0        2 Avenue de Suffren     0  ...    11 2018-04-08 11:43:00
1  145 Rue Raymond Losserand     6  ...     7 2018-04-06 07:24:00

[2 rows x 20 columns]

In [30]:
#selecting the city as Paris
df2= df.loc[df['City'] == 'Paris']
df2.head(3)

                     Address  Cars  ...  hour           date_time
0        2 Avenue de Suffren     0  ...    11 2018-04-08 11:43:00
1  145 Rue Raymond Losserand     6  ...     7 2018-04-06 07:24:00
3     51 Rue EugÃ¨ne OudinÃ©     3  ...     4 2018-04-04 04:37:00

[3 rows x 20 columns]

In [31]:
#checking the shape of the paris data
df2.shape

(2816, 20)

In [37]:
#grouping together
df3 = df2.groupby(['ID','date_time','hour']).sum()
df3

                                             Cars  ...  Slots
ID                 date_time           hour        ...
paris-25aout1944-8 2018-04-01 18:40:00 18       1  ...      2
                   2018-04-02 07:37:00 7        4  ...      0
                   2018-04-02 12:49:00 12       2  ...      1
                   2018-04-04 03:10:00 3        3  ...      0
                   2018-04-04 18:48:00 18       1  ...      1
...                                           ...  ...    ...
paris-yvestoudic-3 2018-04-04 13:32:00 13       0  ...      0
                   2018-04-05 14:36:00 14       0  ...      0
                   2018-04-06 04:48:00 4        0  ...      0
                   2018-04-07 03:48:00 3        0  ...      0
                   2018-04-09 00:24:00 0        0  ...      0

[2816 rows x 7 columns]

In [46]:
#getting the difference of the bluecar counter to check if the cars were rented or returned
df3['difference'] = df3['Bluecar counter'].diff()
df3.head(3)

                                             Cars  ...  difference
ID                 date_time           hour        ...
paris-25aout1944-8 2018-04-01 18:40:00 18       1  ...         NaN
                   2018-04-02 07:37:00 7        4  ...         3.0
                   2018-04-02 12:49:00 12       2  ...        -2.0

[3 rows x 9 columns]

In [52]:
#selecting where the difference is greater than 0,to indicate a car was picked
df4 = df3[df3['difference'] > 0]
df4

                                               Cars  ...  difference
ID                   date_time           hour        ...
paris-25aout1944-8   2018-04-02 07:37:00 7        4  ...         3.0
                     2018-04-04 03:10:00 3        3  ...         1.0
                     2018-04-09 20:53:00 20       1  ...         1.0
paris-adolphemax-6   2018-04-02 11:01:00 11       4  ...         3.0
paris-adolphemille-8 2018-04-01 01:53:00 1        1  ...         1.0
...                                             ...  ...         ...
paris-vouille-47     2018-04-01 05:03:00 5        4  ...         4.0
                     2018-04-07 12:57:00 12       2  ...         2.0
paris-vulpian-24     2018-04-08 22:24:00 22       3  ...         2.0
                     2018-04-09 23:32:00 23       2  ...         1.0
paris-wagram-77      2018-04-06 00:07:00 0        2  ...         2.0

[980 rows x 9 columns]

In [53]:
#grouping the difference in the bluecar counter and the Hour
df4.groupby(['hour'])['difference'].sum().sort_values(ascending = False)

hour
9     129.0
12    125.0
6     111.0
21    109.0
10    108.0
3     105.0
2      95.0
11     91.0
5      91.0
16     89.0
1      88.0
4      88.0
7      88.0
0      87.0
13     86.0
15     86.0
19     86.0
22     85.0
8      85.0
18     85.0
17     84.0
23     71.0
14     68.0
20     61.0
Name: difference, dtype: float64